.HeaderPicture{
    width: 100px;
}

.head{
    text-align: center;
}

.global_nav{
    text-align: center;
}

.global_nav ul{
    list-style: none;
}

.global_nav ul li{
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 10px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.global_nav ul li+ li{
    border-left: 0;
    border-right: 2px solid #000000;
}


.global_nav ul li ::after{
    border-right: 2px solid #000000;
}

.TopImage{
    margin: 20px;
    width: 100%;
    text-align: center;
}

.Wonder p{
    text-align: center;
}

.Wonder ul{
    text-align: center;
}

.Wonder ul li{
    margin: 20px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    display: inline-block;
    background-color: #ec6c2b;
}

.Wonder h1{
    text-align: center;
    border-bottom: 3px solid #ec6c2b;
}
